<br />
<div>
  <h1 class="text-center purple-text"><%= @course.title %></h1>
</div>

<br/>

<div class="text-center">
  <%= link_to "Prevew as Student", course_path(@course), class: 'btn btn-success' %>
</div>

<br/>


<div class="text-center">
  <%= link_to 'Add Section', new_instructor_course_section_path(@course), class:"btn btn-success" %>

</div>

<br/>

<div class="text-center purple-text">
  <ul>
    <% @course.sections.each do |section| %>
      <li><%= section.title %> <%= link_to "New Lesson", new_instructor_section_lesson_path(section), class:"btn btn-success" %>
            <ul>
              <% section.lessons.each do |lesson| %>
              <li>
                <b><%= lesson.title %></b>
                -
                <%= lesson.subtitle %>
              </li>
              <% end %>
            </ul>
            <br/>
      </li>
    <% end %>

  </ul>


</div>
