<br />
<div>
  <h1 class="text-center purple-text"><%= current_course.title %></h1>
</div>

<br/>

<div class="course-info">
  <div class="photo-container-large center-align">
    <%= image_tag current_course.image, class: 'img-fluid' %>
  </div>

        <div>
          <%= link_to "Prevew as Student", course_path(current_course), class: 'btn btn-success' %>
        </div>
        <div>
          <%= link_to 'Add Section', new_instructor_course_section_path(current_course), class:"btn btn-success" %>
        </div>

  </div>


    <div class="course-container">
      <div class="section">
        <ul class="sortable-list-section">
          <% current_course.sections.rank(:row_order).each do |section| %>
          <li class="section-title" data-update-url="<%=instructor_section_path(section)%>">
            <div class="lessons">
            <h3 class="text-center"><%= section.title %></h3>
            <%= link_to " +New Lesson", new_instructor_section_lesson_path(section) %>
              <ul class="sortable-list-lesson">
                <% section.lessons.rank(:row_order).each do |lesson| %>
                    <li data-update-url="<%=instructor_lesson_path(lesson)%>">
                      <span class="bold"><%= lesson.title %></span>
                      -
                      <span> <%= lesson.subtitle %></span>
                    </li>
                <% end %>
              </ul>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>




<script>

$('.sortable-list-section').sortable({
  update: function( event, ui) {
    $.ajax({
      type: 'PUT',
      url: ui.item.data('update-url'),
      dataType: 'json',
      data: { section: {row_order_position: ui.item.index()}}
    });
  }
});

 $('.sortable-list-lesson').sortable({
   update: function( event, ui) {
     $.ajax({
       type: 'PUT',
       url: ui.item.data('update-url'),
       dataType: 'json',
       data: { lesson: {row_order_position: ui.item.index()}}
     });
   }
 });



</script>
