<br />
<div>
  <h1 class="text-center purple-text"><%= current_course.title %></h1>
  <hr>
</div>

<div class="course-info purple-text text-center">
  <div class="row">
    <div class=" col-12 col-sm-12">
      <%= image_tag current_course.image, class: 'img-fluid' %>
    </div>
    <div class=" col-12 col-sm-12 col-md-12 col-lg-6 offset-lg-3">
      <%= link_to "Prevew as Student", course_path(current_course), class: 'btn btn-lg btn-success' %>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSectionModal">
          Add Section
        </button>
    </div>
  </div>
</div>

<div class="course-container">
  <div class="section">
    <ul class="sortable-list-section">
      <% current_course.sections.rank(:row_order).each do |section| %>
        <li class="section-title" data-update-url="<%= instructor_section_path(section) %>">
          <div class="lessons">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <h3 class="text-center"><%= section.title %></h3>
            <br/>
            <button type="button" class="btn btn-primary btn-sm new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
              New Lesson
            </button>
            <ul class="sortable-list-lesson">
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-update-url="<%= instructor_lesson_path(lesson) %>">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  <span class="bold"><%= lesson.title %></span>
                  -
                  <span style="color:#FFE1EA;"> <%= lesson.subtitle %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Lesson Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title purple-text text-center" id="newLessonModalLabel">Add New Lesson</h4>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm' } do |f|%>
        <div class="modal-body">
          <div class="form-style">
            <%= f.input :title%>
            <%= f.input :subtitle%>
            <%= f.input :video %>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add Lesson", class: 'btn btn-success' %>
        </div>
      <% end%>
    </div>
  </div>
</div>


<!-- Section Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title purple-text text-center" id="newSectionModalLabel">Add a new Section</h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do |f|%>
        <div class="modal-body">
          <div class="form-style">
            <%= f.input :title%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add Section", class: 'btn btn-success' %>
        </div>
      <% end%>
    </div>
  </div>
</div>




<script>

 $('.new-lesson-button').click(function() {
       var lessonUrl = $(event.target).data('lesson-url');
       $("#newLessonForm").attr('action', lessonUrl);
    });

  $('.sortable-list-section').sortable({
    update: function( event, ui) {
      $.ajax({
        type: 'PUT',
        url: ui.item.data('update-url'),
        dataType: 'json',
        data: { section: {row_order_position: ui.item.index()}}
      });
    }
  });

   $('.sortable-list-lesson').sortable({
     update: function( event, ui) {
       $.ajax({
         type: 'PUT',
         url: ui.item.data('update-url'),
         dataType: 'json',
         data: { lesson: {row_order_position: ui.item.index()}}
       });
     }
   });



</script>
