<br />
<div>
  <h1 class="text-center purple-text"><%= current_course.title %></h1>
</div>

<br/>

<div class="course-info">
  <div class="photo-container-large center-align">
    <%= image_tag current_course.image, class: 'img-fluid' %>
  </div>

        <div>
          <%= link_to "Prevew as Student", course_path(current_course), class: 'btn btn-success' %>
        </div>
        <div>
          <%= link_to 'Add Section', new_instructor_course_section_path(current_course), class:"btn btn-success" %>
        </div>

  </div>

  <% current_course.sections.each do |section| %>
    <div class="course-container">
      <div class="section">
        <ul>
          <li class="section-title">
            <h3><%= section.title %></h3>
            <br/>
            <%= link_to " +New Lesson", new_instructor_section_lesson_path(section), class:"purple-text" %>
            <div class="lessons">
              <ul class="sortable-list">
                <% section.lessons.rank(:row_order).each do |lesson| %>
                    <li data-update-url="<%=instructor_lesson_path(lesson)%>">
                      <span class="bold"><%= lesson.title %></span>
                      -
                      <span> <%= lesson.subtitle %></span>
                    </li>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>



<script>
 $('.sortable-list').sortable({
   update: function( event, ui) {
     $.ajax({
       type: 'PUT',
       url: ui.item.data('update-url'),
       dataType: 'json',
       data: { lesson: {row_order_position: ui.item.index()}}
     });
   }
 });

</script>
