<br/>

<div>
  <h3 class="text-center pink-text"><%= link_to current_lesson.section.course.title, course_path(current_lesson.section.course)%>
    : <%= current_lesson.section.title %></h3>
    <br/>
  <h5 class="text-center purple-text"> <%= current_lesson.title %> </h5>
  <p class="text-center purple-text"><%= current_lesson.subtitle %> </p>
  <hr />
</div>

<% if current_lesson.next_lesson.present? %>
  <div class=" col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 text-right">
    <%= link_to lesson_path(current_lesson.next_lesson), class: 'btn btn-success' do %>
      Next Lesson &nbsp;
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>

<br/>





<div class="col-12 col-sm-12 col-md-12 col-lg-10 offset-lg-1 ">
<video id="my-video" class="video-js vjs-big-play-centered vjs-fluid" controls preload="auto" poster="<%= image_path('black.jpg') %>" data-setup="{}">
  <source src="<%= current_lesson.video.to_s %>" type='video/mp4'>
    <noscript>
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </noscript>
</video>

</div>
