<br/>
<% if current_user && current_user == @course.user %>
  <%= link_to 'Admin', instructor_course_path(@course), class: ' btn btn-success' %>
<% end %>


  <h1 class="purple-text"> <%= @course.title %> </h1>

<div class="row">
  <div class="photo-container-large center-align">
    <%= image_tag @course.image, class: 'img-fluid' %>
  </div>
</div>



<br/>

<div class="course-info purple-text">
    <div class="row">
      <div class="col-sm-2 col-12">
        <span class="badge badge-default"><%= number_to_currency @course.cost %></span>
      </div>
      <div class="col-sm-7 col-12">
        <%= @course.description %>
      </div>
      <div class="col-sm-3 col-12">
        <% if current_user %>
          <% if current_user.enrolled_in?(@course) %>
            <h3 class="badge badge-info">You Are Enrolled!</h3>
          <% else %>
            <% if @course.free? %>
              <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-success', method: :post %>
            <% else %>
              <%= form_tag course_enrollments_path(@course) do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-email="<%= current_user.email %>"
                        data-description="<%=@course.title%>(<%=number_to_currency @course.cost %>)"
                        data-amount="<%= (@course.cost * 100).to_i %>"

                        data-locale="auto"></script>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <h3 class="badge badge-info">Sign In to Enroll!</h3>
        <% end %>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <% @course.sections.rank(:row_order).each do |section| %>
     <br /><br />
     <div class="course-container">
       <div class="section">
         <h2 class="text-center"><%= section.title %></h2>
         <div class="row">
           <% section.lessons.rank(:row_order).each do |lesson| %>
             <div class="col-12 col-sm-6">
                <div class="lessons">
                  <%= link_to lesson_path(lesson) do %>
                      <h5 class="lesson-title"><%= lesson.title %></h5>
                      <br/>
                      <%= lesson.subtitle %>
                  <% end %>
               </div>
             </div>
           <% end %>
         </div>
          <br class="clr" />
       </div>
     </div>
    <% end %>
  </div>
</div>
