<br/>

<div>
  <% if current_user && current_user == @course.user %>
    <%= link_to 'Admin', instructor_course_path(@course), class: 'btn btn-success' %>
  <% end %>
  <h1 class="text-center purple-text"><%= @course.title %></h1>
  <hr />
</div>



<div class="course-info purple-text text-center">
  <%= image_tag @course.image, class: 'img-fluid' %>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-2">
        <span class="badge badge-default"><%= number_to_currency @course.cost %></span>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <%= @course.description %>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-2">
        <% if current_user %>
          <% if current_user.enrolled_in?(@course) %>
            <h3 class="badge badge-info">You Are Enrolled!</h3>
          <% else %>
            <% if @course.free? %>
              <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-success', method: :post %>
            <% else %>
              <%= form_tag course_enrollments_path(@course) do %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                        data-email="<%= current_user.email %>"
                        data-description="<%=@course.title%>(<%=number_to_currency @course.cost %>)"
                        data-amount="<%= (@course.cost * 100).to_i %>"

                        data-locale="auto"></script>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <h3 class="badge badge-info">Sign In to Enroll!</h3>
        <% end %>
      </div>
    </div>
  </div>

<div class="row text-center">
  <div class=" col-12 col-sm-12">
    <% @course.sections.rank(:row_order).each do |section| %>
     <div class="course-container">
       <div class="section purple-text">
         <h1><%= section.title %></h1>
         <hr>
         <div class="row">
           <% section.lessons.rank(:row_order).each do |lesson| %>
             <div class=" col-12 col-sm-12 col-lg-6">
                <div class="lessons">
                  <%= link_to lesson_path(lesson) do %>
                      <h5 class="lesson-title"><%= lesson.title %></h5>
                      <br/>
                      <%= lesson.subtitle %>
                  <% end %>
               </div>
             </div>
           <% end %>
         </div>
          <br class="clr" />
       </div>
     </div>
    <% end %>
  </div>
</div>
