<br/>

<h1 class="text-center purple-text"> <%= @course.title %> </h1>
<div class="photo-container-large center-align">
  <%= image_tag @course.image, class: 'img-fluid' %>
</div>

<br/>

<div class="course-info purple-text">
    <div class="row">
      <div class="col-sm-4 col-12">
        <span class="badge badge-default"><%= number_to_currency @course.cost %></span>
      </div>

      <div class="col-sm-8 col-12">
        <%= @course.description %>
      </div>

      <% if current_user && current_user == @course.user %>
        <br/>
        <br/>
        <%= link_to 'Admin', instructor_course_path(@course), class: ' btn btn-success' %>
      <% end %>
    </div>

    <div class="col-12">
      <% @course.sections.each do |section| %>
       <br /><br />
        <div class="section">
          <h3><%= section.title %></h3>
          <div class="row">
            <% section.lessons.each do |lesson| %>
              <div class="col-12 col-sm-6">
                 <div class="lesson">
                   <%= link_to lesson_path(lesson) do %>
                       <h5 class="lesson-title"><%= lesson.title %></h5>
                       <br/>
                       <%= lesson.subtitle %>
                   <% end %>
                </div>
              </div>
            <% end %>
          </div>
           <br class="clr" />
        </div>
      <% end %>
  </div>
</div>
